.logIn {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 120px;
    padding-top: 40px;
    font-size: 20px;
    font-family: 'Cabin', sans-serif;
    padding-left: 40px;
}

.logo {
    position: relative;
    padding-top: 20px;
    font-family: 'Lobster', cursive;
    font-size: 40px;
}

.submitSignIn {
    padding-top: 10px;
}

.socialIcon {
    font-size: 50px;
    width: 50px;
}

.landingBody {
    background-color: #ff3860;
}

.mainHeader {
    background-color: #ff3860;
    padding-bottom: 20px;
}

.connectArea {
    background-color: #ff3860;  
}

.logInAtLogInPage {
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    letter-spacing: 4px;
}


.logInAtLogInPageSignUp {
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    letter-spacing: 4px;
    padding-left: 10px;
}

.submitButtonsEverywhere {
    font-family: 'Cabin', sans-serif;
}

.avatar {
    padding-bottom: 20px;
}

.newSearch {
    position: absolute;
    top: 0px;
    width: 120px;
    padding-top: 40px;
    font-size: 20px;
    font-family: 'Cabin', sans-serif;
    padding-left: 990px;
}